<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React App Setup</title>
  </head>
  <body>
    <div id="root">
    <p>content goes here this is new. </p>
    </div>
  </body>
</html>